// Define variables for your color scheme
$white: #F2F2F2;
$gray: #727272;
$light-gray: #D2D2D2;
$lighter-gray: #a7a4a4;
$black: #323232;
$pink: #F5B4A7;
$red: #E8575D;

// For example:
$red-example: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray-example: #0E0000;
$light-gray-example: #F4F4F4;
