<!-- 5 days plan card (start)-->
<div class="container weekly-plan-card mb-4">
  <div class="d-flex flex-row">
    <div class="p-2 bd-highlight">
      <h2><%= @plan.name %></h2>
      <p><%= @plan.description %></p>
    </div>
    <!-- <div class="p-2 bd-highlight flex-grow-1"></div> -->
    <div class="mt-2 ">
      <%= render 'orders/form' %>
    </div>
    <div class="d-flex flex-row justify-content-around mb-3">
      <%= render 'shared/plancard' %>
      <br>
    </div>
  </div>
</div>
<!-- 5 days plan card (finish)-->
