<!-- 5 days plan card (start)-->
<div class="container weekly-plan-card">
  <div class="d-flex flex-row">
    <div class="p-2 bd-highlight"><h2><%= @kitchen.name %></h2></div>
    <div class="p-2 bd-highlight flex-grow-1"></div>
    <div class="p-2 bd-highlight">
      <button type="button" class="btn btn-main d-flex align-items-end" data-toggle="modal" data-target="#order_form" data-whatever="@getbootstrap">
      <h4 class="price-text">¥4,000</h4> Make an order
      </button>
    </div>
  </div>
  <div class="d-flex flex-row bd-highlight">
    <div class="p-2 bd-highlight">Description about this meal plan...</div>
  </div>
  <div class="d-flex flex-row justify-content-around mb-3">
      <%= render 'shared/plancard' %>
  </div>
</div>
<!-- 5 days plan card (finish)-->
