<!-- 5 days plan card (start)-->
<div class="container weekly-plan-card mb-4">
  <div class="d-flex flex-row">
    <div class="p-2 bd-highlight">
      <h2><%= @plan.name %></h2>
      <p><%= @plan.description %></p>
    </div>
    <div class="p-2 bd-highlight flex-grow-1"></div>
    <div class="p-2 bd-highlight">
      <button type="button" class="btn btn-main d-flex align-items-end" data-toggle="modal" data-target="#order_form" data-whatever="@getbootstrap">
        <h4 class="price-text"><%= humanized_money_with_symbol(@plan.price) %></h4>
        Make an order
      </button>
    </div>
  </div>
  <div class="d-flex flex-row bd-highlight">
    <div class="p-2 bd-highlight"><% @plan.description %></div>
  </div>
  <div class="d-flex flex-row justify-content-around mb-3">
    <%= render 'shared/plancard' %>
    <br>
  </div>
</div>
<!-- 5 days plan card (finish)-->