<div class="footer mt-3">
  <div class="footer-links">
  </div>
  <div class="footer-copyright">
    Your bento with <i class="fas fa-heart"></i> from local @ <%= DateTime.now.to_date.year %>
  </div>
</div>