<div class="container">
  <div class="container my-3 d-flex justify-content-between">
    <div
        id="map"
        style="width: 1110px;
        height: 250px;"
        data-markers="<%= @marker.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
  </div>
</div>