<div class="cards plancard">

  <% @plan.dishes.each_with_index do |dish, i| %>
    <div class="card-category plancard-each" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path dish.photo %>')">
      <%= %w(Mon Tue Wed Thu Fri Sat Sun)[i] %>
      <div class="plan-info"><%= dish.name %></div>
    </div>
  <% end %>
</div>
