<div class="cards">
  <% plan.dishes.each_with_index do |dish, i| %>
    <div class="plancard d-flex flex-column text-center">
      <div class="plancard-text"><%= %w(Mon Tue Wed Thu Fri Sat Sun)[i] %></div>
      <div class="overlay-image">
        <div class="card-category plancard-each" id="text" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= cl_image_path dish.photo %>')">
          <div class="overlay">
            <div class="overlaytext text-left">
              <p>Calories - 510</p>
              <p>Fat - 26g</p>
              <p>Protein - 21g</p>
            </div>
          </div>
          <div class="plan-info align-items-center"><%= dish.name %></div>
        </div>
      </div>
    </div>
  <% end %>
</div>