<p> This is for the uikit_kid Sho-chan</p>

<!-- card in home page (start)-->
<div class="card-trip">
  <%= image_tag "home-card.jpg" %>
  <div class="card-trip-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <!-- <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> -->
    <%= image_tag "hw4.jpg", class:"card-trip-user avatar-bordered" %>
  </div>
</div>
<!-- card in home page (finish) -->
