<p> This is for the uikit_kid Sho-chan</p>

<!-- card in home page (start)-->
<div class="card-trip">
  <%= image_tag "home-card.jpg" %>
  <div class="card-trip-infos">
    <div>
      <h2>Kitchen name</h2>
      <p>description of Kitchen</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <%= image_tag "hw4.jpg", class:"card-trip-user avatar-bordered" %>
  </div>
  <a class="btn btn-short" href=#>Button</a>
  <a class="btn btn-short" href=#>Button</a>
</div>
<!-- card in home page (finish) -->


<!-- card in index page (start) -->
<div class="card-trip">
  <%= image_tag "index-card.jpg" %>
  <div class="card-trip-infos">
    <div>
      <h2>Plan name</h2>
      <p>description of Plan</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <%= image_tag "hw8.jpg", class:"card-trip-user avatar-bordered" %>
  </div>
</div>
<!-- card in index page (finish) -->
