.banner {
  background-size: cover;
  background-position: center;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

#banner-typed-text {
  color: #ffffff;
  text-shadow: 1px 1px 1px $gray;
  font-size: 33px;
  font-weight: bold;
  height: 30px;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.d-fex {
  display: flex;
  position: relative;
}

.avatar-extra-large {
  position: absolute;
  right: 80px;
  top: 230px;
}

.avatar-xl-btn {
  font-weight: 400;
  background-color: rgba(242, 242, 242, 0.6);
  position: absolute;
  right: 98px;
  top: 435px;
}

// .white {
//   position: absolute;
//   left: 500px;
//   top: 200px;
// }

.plan-description {
  position: absolute;
  left: 50px;
  top: 320px;
  color: $white;
  font-weight: 300;
  width: 60vw;
}

.plan-price {
  position: absolute;
  left: 50px;
  top: 400px;
  color: $white;
  font-weight:4000;
}

.plan-order {
  position: absolute;
  left: 50px;
  top: 450px;
}

.banner-name{
  position: absolute;
  left: 50px;
  top: 250px;
}

.banner-p {
  position: absolute;
  left: 50px;
  top: 300px;
  width: 50vw;
}

.banner-btn {
  background-color: transparent;
  border-color: transparent;
  position: absolute;
  left: 50px;
  top: 400px;
}

.banner-btn:active {
  border-color: transparent;
}
