.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}


.card-trip-home {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  height: 22rem;
  margin-bottom: 16px;
  border-radius: 2px;
}


.card-trip-home > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip-home h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip-home p {
  font-size: 12px;
  font-weight: bold;
  opacity: .7;
  margin: 0;
}

.card-trip-home .card-trip-infos {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 5.5rem;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

//


.card-trip-plan {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  height: 23rem;
  margin-bottom: 16px;
}

.card-trip-plan > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip-plan h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip-plan p {
  font-size: 12px;
  font-weight: bold;
  opacity: .7;
  margin: 0;
}

.card-trip-plan .card-trip-infos {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 5rem;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.mealcard-height {
  height: 3rem;
}
//

.card-trip-dish {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  height: 12rem;
  margin-bottom: 16px;
}


.card-trip-dish > img {
  height: 140px;
  width: 100%;
  object-fit: cover;
}

.card-trip-dish h2 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 8px;
  text-align: center;
}

.card-trip-dish p {
  font-size: 12px;
  font-weight: bold;
  opacity: .7;
  margin: 0;
}

.card-trip-dish .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
