.meal-card-image {
  height: 100%;
  width: 250px;
  object-fit: cover;
}

.card {
  height: 250px;
  width: 250px;
  margin: 100px;
}

.card-info {
  height: 150px;
  width: 250px;
  border: 1px solid $gray;
}

.card-category {
  position: relative;
}

.plan-info {
  position: absolute;
  top: 100px;
  width: 100%;
  height: 80px;
  border: 1px solid $gray;
}
