.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo-text {
  color: $red;
}

.navbar-text {
  color: $gray;
  font-weight: 300;
}

.navbar-text:hover {
  color: $pink;
  font-weight: 300;
}

.nav-search {
}
