#exampleModalLabel {
  color: $gray;

}

.form-control-label {
  color: $gray;
}

#order_date {
  border: 0.5px solid $light-gray;
  background: $white;
  padding-left: 30px;
}

.modal-footer {
  justify-content: center;
}
