.weekly-plan-card {
  background-color: #e2e2e2;
  height: auto;
  padding-bottom: 25px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.plan-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
