.bento-star {
  color: gold;
  font-size: 21px;
}

.bento-star-gray {
  color: $light-gray;
  font-size: 21px;
}

.review-comment {
  margin-bottom: 10px;
  color: #727272;
}

.scroll {
  border: 1px solid #D2D2D2;
  overflow-y: scroll;
  height: 240px;
  border-radius: 5px;
}
