<title>All Plans</title>
  <h1>All Meal Plans</h1>
  <div class="container">
    <% @plans.each do |plan| %>
      <ul>
        <li><%= plan.name %></li>
        <li><%= plan.price %></li>
      </ul>
    <% end %>
  </div>
